body { 
    /* direction: rtl;Arabic by default */
    align-items: center;
    justify-content: center;
    background:url("background.png");
    background-attachment: fixed;
    background-size: cover;
    

  }


  * {   /* global aplys for all elements*/
    position: relative;
    width: 100%;
  height: auto;
  box-sizing: border-box;/**/
  
        }

    
  .notflexcard { 
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    padding: 40px;
    position: static;
    margin: 300px;
    width: auto;
    height: auto;
}

  .card {
    display: flex;
    grid-template-columns: 1000px;
    grid-template-rows: 500px 500px 20px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 25px;
    background: #1d1d1d;
    color:white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: justify;
    cursor: pointer; 
    position: center;
    height: 75%; 
    width: 75%;
    margin:10%;/*edit this*/
    padding: 20px;
    transform-style: preserve-3d;
    transform: perspective(500px);
    transition: 0.5s ease;
    transition: width 2s, height 2s, transform 2s;
    
    
  }
  .card:hover {
    transform: scale(1.12);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    /*test:*/
    max-width :100%;
    max-height: 150%;   
   

    }
  .rgb::after {
    content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(10px);
    transform: translateZ(-1px); /*or z-index */
    animation: rgb 6s linear infinite;
  }
  @keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  .js-tilt-glare {
    border-radius: 18px;
  }
  .card-image {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("html.png");
    background-size: cover;
    
  }
  
  .card-text {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:14px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(4, 105, 145);
  }
  .card-stats .stat {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .card-stats .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
  }
  .card-stats .value{
    font-size:22px;
    font-weight: 500;
  }
  .card-stats .value sup{
    font-size:12px;
  }
  .card-stats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  
  /*card2*/
  .card-image.card2 {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("html.png");
    background-size:auto;
  }
  .card-text.card2 .date {
    color: rgb(255, 77, 7);
  }
  .card-stats.card2 .border {
    border-left: 1px solid rgb(185, 67, 20);
    border-right: 1px solid rgb(185, 67, 20);
  }
  .card-stats.card2 {
    background: rgb(255, 77, 7);
  }
  /*card3*/
  .card-image.card3 {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("html.png");
    background-size: cover;
  }
  .card-text.card3 .date {
    color: rgb(0, 189, 63);
  }
  .card-stats.card3 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
  }
  .card-stats.card3 {
    background: rgb(0, 189, 63);
  }
  /**/
  
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    max-width: fit-content;
     max-height: fit-content;
    box-shadow: 0 9px #999;
    
  }
  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 spx #666;
  transform: translateY(4px);
}

/*Slider elements*/

img {
    vertical-align: middle;
    
  }
  /* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
   
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* Slider Gallary effect 3D*/

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 240px;
    height: 240px;
     transition: width 2s, height 2s, transform 2s;
    animation-name: example;
    animation-duration: 4s;
  }
  
 div.gallery:focus{
    border: 1px solid #777;
    width: 75%;
    transform: rotatez(360deg); 
    position: center;
  }
  @keyframes example {
    
 0%   {transform: rotatez(000deg) scale3d(0,0,0) }
 100% {transform: rotatez(360deg);}
 
}


 div.gallery:hover {
    border: 5px solid #777;
    width: 75%;
    position: center;
    transform: rotatez(360deg); 
    z-index: 1;
  }